{% extends 'base.html' %} {% block head_js %}
<!-- Here goes elfsight request for api -->
{% endblock %} {% block content %}

<section id="about">
  <div class="about-section center">
    <div class="col col-lg-4 offset-lg-2">
      <h2 class="h2 glow">About Me</h2>
      <article id="about_text">
        <p class="p-text about-p">
          Hi, my name is Neil McGill and I’m a Physical Trainer/Personal Coach,
          born and raised in Scotland and now enjoying life in Uppsala, Sweden.
        </p>
        <p class="p-text about-p">
          My fitness journey started back in 2010 when I first joined the
          British Army. At that time I had only a basic knowledge of fitness,
          but during my four years serving I learned how to work with my body,
          to explore the limits of my ability and to push myself beyond my own
          expectations. I learned, also, how to motivate my peers; to help them
          raise their fitness and mental attitude to the elite standards
          expected by the military. Once I left the army to travel the length
          and breadth of Europe as a driver for international sporting events, I
          worked long hours, very often for weeks at a time, unable to access a
          gym for regular workouts. So, drawing upon my army experience and
          fitness knowledge, I began to use a combination of resistance bands
          and structured body-weight exercises to keep my fitness and muscle
          mass to the high levels I had come to expect. When I did visit a gym
          to test my muscle strength, I found I was making significant gains and
          was satisfied that the exercises I had devised to fit in with my busy
          lifestyle were producing the same effects as regular gym workouts.
        </p>
        <p class="p-text about-p">
          I realise our modern lifestyle means it can be difficult for many of
          us to get to a gym these days, so if you find yourself in this
          situation - I can help. With my adapted hardcore army-style training,
          and encouraging, friendly attitude, I offer both group and individual
          workouts that are suitable for a range of abilities from absolute
          beginners to advanced levels. Whether you're a little Hare or a big
          Bear - if you want to learn how get fit with minimal equipment, I’d
          love to hear from you. I will work with you to design a training
          program tailor-made to suit your ability and fitness ambition and
          support you as you connect with your mind and body like never before.
        </p>
      </article>
    </div>
  </div>
</section>

<!-- Here goes the instagram feed -->

{% endblock %}
