{% extends 'base.html' %} {% block content %}
<div class="v-container bottom-shadow top-shadow">
  <div class="row intro-slogan">
    <div class="col-md-8 offset-md-2 col-10 offset-1 uppercase">
      <h5 class="h5 glow">Your ultimate personal trainer</h5>
      <img class="logo-img" src="static/images/logo.png" alt="logo" />
    </div>
  </div>
</div>
<section id="about">
  <div class="about-section center">
    <div class="col-10 offset-1 col-lg-4 offset-lg-2">
      <h2 class="h2 glow">About Me</h2>
      <p class="p-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eius sequi
        necessitatibus. Nam magni iure, beatae aspernatur aperiam eveniet saepe.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eius sequi
        necessitatibus. Nam magni iure, beatae aspernatur aperiam eveniet saepe.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eius sequi
        necessitatibus. Nam magni iure, beatae aspernatur aperiam eveniet saepe.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eius sequi
        necessitatibus. Nam magni iure, beatae aspernatur aperiam eveniet saepe.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eius sequi
        necessitatibus. Nam magni iure, beatae aspernatur aperiam eveniet saepe.
      </p>
    </div>
  </div>
</section>

{% endblock %}
