{% extends 'base.html' %} {% block content %}

<section id="about">
  <div class="about-section center">
    <div class="col-10 offset-1 col-lg-4 offset-lg-2">
      <h2 class="h2 glow">About Me</h2>
      <p class="p-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eius sequi
        necessitatibus. Nam magni iure, beatae aspernatur aperiam eveniet saepe.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eius sequi
        necessitatibus. Nam magni iure, beatae aspernatur aperiam eveniet saepe.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eius sequi
        necessitatibus. Nam magni iure, beatae aspernatur aperiam eveniet saepe.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eius sequi
        necessitatibus. Nam magni iure, beatae aspernatur aperiam eveniet saepe.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eius sequi
        necessitatibus. Nam magni iure, beatae aspernatur aperiam eveniet saepe.
      </p>
    </div>
  </div>
</section>

{% endblock %}
