{% extends 'base.html' %} {% block content %}
<section id="one_on_one">
  <div class="about-section">
    <div class="col col-md-10 offset-md-1 col-lg-6 offset-lg-1">
      <h2 class="h2 glow center">One on One</h2>
      <p class="p-text center">
        Group sessions are a great way to work out, but if you're really serious
        about maximising your fitness, the Hare Bear PT One-on-One training
        package could be for you. With my military background, recognised
        qualifications (Intermediate 2 Physical Education) and over 10 years’
        experience in fitness and training, I can motivate and guide you in
        personal, one-to-one sessions.
      </p>
      <p class="e-subheader2 center">What’s included?</p>
      <ul>
        <li>
          An initial consultation where we discuss your current fitness, health
          routine and any injuries or problem areas.
        </li>
        <li>A basic fitness test to determine your level.</li>
        <li>
          Tailored workouts to help you reach your targets using minimal
          equipment and bodyweight routines.
        </li>
        <li>Access to on-call fitness information when you need it.</li>
        <li>
          Advice about nutritional support including meal suggestions and
          recipes.
        </li>
        <li>Access to group training sessions included.</li>
      </ul>
      <p class="p-text center">
        The benefits of rigorous fitness training are always enhanced by being
        outdoors; so, whenever possible, the lessons will take place in a
        natural outside area close to trees and green spaces. At the end of
        every lesson you will enjoy a relaxing cool-down with muscle stretches,
        rounding off the session with reflection, and reminders to show
        gratitude and appreciation for your body’s hard work.
      </p>
    </div>
  </div>
</section>
{% endblock %}
