{% extends 'base.html' %} {% block content %}
<section id="one_on_one">
  <div class="about-section center">
    <div class="col-10 offset-1 col-lg-4 offset-lg-2">
      <h2 class="h2 glow">One on One</h2>
      <p class="p-text">
        I Offer a wide range of one on one training suitable for everyone. I
        base my method on my own greatest method of three methods of success,
        methods... Whether you are a complete beginner, or a calisthenics pro I
        can offer you help, guidance and motivation. Meal plans can be a part of
        it too, whatever that's green, you can eat.
        <span class="glow">VEGAN</span>! Training is supposed to be fun, and im
        funny. So why not join the hare bear for some training? Contact me for
        more information and prices!
      </p>
    </div>
  </div>
</section>
{% endblock %}
