{% extends 'base.html' %} {% load static %} {% block head_js %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&libraries=&v=weekly"
  defer
></script>

<!-- Jquery CDN -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
  integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
  crossorigin="anonymous"
></script>

<script src="{% static 'js/maps.js' %}"></script>

{% endblock %} {% block content %}

<div class="event-container">
  {% for event in events %}
  <div
    style="background:#6f8193 url(/static/images/{{event.image}});
          background-size: cover;
          background-blend-mode: multiply;
          z-index: -15;"
    class="row event-row"
  >
    <div class="col">
      <h3 class="center event-header uppercase">{{event.name}}</h3>
      {% if event.subheader %}
      <h5 class="e-subheader center uppercase">{{event.subheader}}</h5>
      {% endif %}
      <div class="col-10 offset-1">
        <p>{{event.description}}</p>
        <p>{{event.date}}</p>
        <p>{{event.price}}</p>
        <p>{{event.address}}</p>
        <div class="map" id="{{event.pk}}"></div>
      </div>
      <input class="lat" type="hidden" value="{{event.geolocation.lat}}" />
      <input class="lon" type="hidden" value="{{event.geolocation.lon}}" />
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
