{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" /> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hare Bear PT - Personal Trainer in Uppsala</title>
    <meta name="description" content="Freelance personal trainer in Uppsala working with one on one clients and offer group trainings. Whether you are a small hare, or a strong bear I can help you reach your fitness goals"/>
    <meta name="keywords" content="HAREBEARPT, Hare Bear PT, PT, Personal Trainer, Personlig Tränare, Uppsala, Gruppträning, Grouptraining, Free weights, Calisthenics, Fitness"/>
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest'%}">

    <!-- Bootstrap CSS CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    {% block head_js %} {% endblock head_js %}

    <!-- Instagram feed, javascript source 
    <script src="https://apps.elfsight.com/p/platform.js" defer></script> -->

    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
  </head>
  <body>
    <header class="v-header v-container">
      <!-- Navigation Bar -->
      <nav
        id="mainNavbar"
        class="navbar fixed-top navbar-expand-lg main-navbar"
      >
        <a class="navbar-brand glow" href="{% url 'index' %}">Hare Bear PT</a>
        <button
          id="targetOpenCloseNav"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <div id="navIconWrapper">
            <div class="circle navIcon">
              <span class="line top"></span>
              <span class="line middle"></span>
              <span class="line bottom"></span>
            </div>
          </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div id="navItemContainer" class="navbar-nav m-auto">
            <a class="nav-item nav-link main-nav-item" href="{% url 'index' %}#c"
              >About</a
            >
            <a class="nav-item nav-link main-nav-item" href="{% url 'oneOnOne_view' %}#c">One on One</a>
            
            {% if categories %}
            <li class="nav-item dropdown">
              <a
                class="nav-item nav-link main-nav-item dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >Group Training
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for category in tc %}
                <a class="dropdown-item" href="{% url 'category_view' category.slug %}#c">{{ category.name }}</a>
                {% endfor %}
                <a class="dropdown-item" href="{% url 'grouptraining_view'%}#c">All Events</a>
              </div>
            </li>
            {% else %}
              <a
                class="nav-item nav-link main-nav-item"
                href="{% url 'grouptraining_view'%}#c"
                >Group Training</a
              >
            {% endif %}
          
            <a
              class="nav-item nav-link main-nav-item"
              href="{% url 'contact_view' %}#c"
              >Contact</a
            >
            <a
            class="nav-item nav-link main-nav-item"
            href="{% url 'add_event' %}#c"
            >Add event</a
          >
            
          
        </div>
      </nav>

      <!-- Backgroun video in the header -->
      <div class="fullscreen-video-wrap">
        
        
        <video
        autoplay
          muted
          playsinline
          loop
          id="header-bg-video"
          class="video-insert"
          src="{% static 'images/intro_Long_notext.mp4' %}"
          
        >
      </video>
      </div>
      <div class="header-overlay"></div>
      <div class="header-content">
        <h1>Hare Bear PT</h1>
        <span class="mr-30px uppercase e-subheader margin-1">Fast As a hare</span>
        <span class="uppercase e-subheader margin-1"> Strong as a bear</span>
      </div>
    </header>
    <div class="v-container bottom-shadow top-shadow">
      <div class="row intro-slogan">
        <div class="col-md-8 offset-md-2 col-10 offset-1 uppercase">
          <h5 class="h5 glow">Your ultimate personal trainer</h5>
          <img
            class="logo-img"
            src="{% static 'images/favicon/android-chrome-192x192.png' %}"
            alt="logo"
          />
        </div>
      </div>
    </div>

    <div id="c"> <!--c for content -->

    {% block content %} {% endblock %}
    </div>
    
    
    <footer>
      <!--
      <div class="elfsight-app-8fc4f8ba-fbcb-4821-a285-cc408fc3bec8"></div>
      -->
      <div class="row center">
        <div class="footer-col col-10 offset-1 col-lg-4 offset-lg-0">
          <h4>Social Media</h4>
          <p class="p-text m-0">
            Visit my social media to stay updated!
          </p>
          <div class="inline-block">
            <a class="social-media-link fb-clr" href="https://www.facebook.com/harebearpt" target="_blank"
              ><i class="fab fa-facebook"></i
            ></a>
            <a class="social-media-link insta-clr" href="https://www.instagram.com/harebearpt/" target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
          <div class="fb-page center inline-block" 
            data-href="https://www.facebook.com/harebearpt"
            data-width="380" 
            data-hide-cover="false"
            data-show-facepile="false">
          </div>

        </div>
        <div class="footer-col col-lg-4 offset-lg-0">
          <a href="{% url 'index'%}">
          <div class="footer-img">
          <img
            class="logo-img"
            src="{% static 'images/favicon/android-chrome-192x192.png' %}"
            alt="logo"
          />
          <p class="h5 copyright">&copy; 2020 HareBearPT.com<p>
        </div>
          </a>
        </div>
        <div class="footer-col col-10 offset-1 col-lg-4 offset-lg-0">
          <h4>Contact</h4>
          <p class="p-text">
            Want to get in touch? You can contact me via email or fill out this
            form
            <span class="link"
              ><a href="{% url 'contact_view' %}">here!</a></span
            >
          </p>
          <p class="h5">| hearbearpt@gmail.com |</p>
        </div>
      </div>
    </footer>

    <!-- Facebook embeded page source -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v8.0" nonce="07Xmv95K"></script>

    <!-- Font Awesome Javascript CDN -->
    <script
      src="https://kit.fontawesome.com/2ea8c5e5d2.js"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap Javascript CDN -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <!-- popper removed -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!-- Jquery CDN -->
    <!-- removed. Using bootstraps instead -->

    <script src="{% static 'js/main.js' %}"></script>

    <script src="//code.tidio.co/xgyxhhdavb6zgwg2k2vmlcakj0jn2i1q.js" async></script>
  </body>
</html>
